<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/send" method="get">
        <select name="socket" id="">
            {% for sock in sockets %} 
                <option value="{{sock.client}}">{{sock.client}}</option>
            {% endfor %}
        </select>
        <input type="text" name="text" id="text">
        <button type="submit">send</button>
    </form>
    hele
    <script src="static/main.js"></script>
</body>
</html>